[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiallelAnalysisR"]
	path = DiallelAnalysisR
	url = https://github.com/myaseen208/diallelanalysisr
[submodule "PSLM2015"]
	path = PSLM2015
	url = https://github.com/myaseen208/pslm2015
[submodule "PakPC2017"]
	path = PakPC2017
	url = https://github.com/myaseen208/pakpc2017
[submodule "PakPC2023"]
	path = PakPC2023
	url = https://github.com/myaseen208/pakpc2023
[submodule "PakPMICS2014Ch"]
	path = PakPMICS2014Ch
	url = https://github.com/myaseen208/pakpmics2014ch
[submodule "PakPMICS2014HH"]
	path = PakPMICS2014HH
	url = https://github.com/myaseen208/pakpmics2014hh
[submodule "PakPMICS2014HL"]
	path = PakPMICS2014HL
	url = https://github.com/myaseen208/pakpmics2014hl
[submodule "PakPMICS2014Wm"]
	path = PakPMICS2014Wm
	url = https://github.com/myaseen208/pakpmics2014wm
[submodule "PakPMICS2018"]
	path = PakPMICS2018
	url = https://github.com/myaseen208/pakpmics2018
[submodule "PakPMICS2018bh"]
	path = PakPMICS2018bh
	url = https://github.com/myaseen208/pakpmics2018bh
[submodule "PakPMICS2018fs"]
	path = PakPMICS2018fs
	url = https://github.com/myaseen208/pakpmics2018fs
[submodule "PakPMICS2018hh"]
	path = PakPMICS2018hh
	url = https://github.com/myaseen208/pakpmics2018hh
[submodule "PakPMICS2018mm"]
	path = PakPMICS2018mm
	url = https://github.com/myaseen208/pakpmics2018mm
[submodule "PakPMICS2018mn"]
	path = PakPMICS2018mn
	url = https://github.com/myaseen208/pakpmics2018mn
[submodule "StroupGLMM"]
	path = StroupGLMM
	url = https://github.com/myaseen208/stroupglmm
[submodule "SupMZ"]
	path = SupMZ
	url = https://github.com/myaseen208/supmz
[submodule "VetResearchLMM"]
	path = VetResearchLMM
	url = https://github.com/myaseen208/vetresearchlmm
[submodule "bayesammi"]
	path = bayesammi
	url = https://github.com/myaseen208/bayesammi
[submodule "baystability"]
	path = baystability
	url = https://github.com/myaseen208/baystability
[submodule "dmai"]
	path = dmai
	url = https://github.com/myaseen208/dmai
[submodule "eda4treeR"]
	path = eda4treeR
	url = https://github.com/myaseen208/eda4treer
[submodule "gvcR"]
	path = gvcR
	url = https://github.com/myaseen208/gvcr
[submodule "ppcSpatial"]
	path = ppcSpatial
	url = https://github.com/myaseen208/ppcspatial
[submodule "qccrs"]
	path = qccrs
	url = https://github.com/myaseen208/qccrs
[submodule "rgsp"]
	path = rgsp
	url = https://github.com/myaseen208/rgsp
[submodule "stability"]
	path = stability
	url = https://github.com/myaseen208/stability
